a {
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.SideBar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.SideBar a {
    color: #000;
}

.SideBar a:hover {
    color: #007bff;
}

.body {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0.5rem;
}

.containerBio {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

img.bio-image {
    width: 20%;
    height: auto;
    border-radius: 50%;
}